
  /* .background {
  background: url(./img/landing/background.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  display:flex;
  }
  .background::after { background-color: #563d7c; content: ""; display: block; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: -1; opacity: 0.4; } 

  .flex-center { display: flex; flex-direction: column; justify-content: center; align-content: center; }  */

  .hero { width: 100%; height: 100%; min-width: 100%; min-height: 100%; position: relative; }
  @media (min-width: 320px) { .hero::before { background-image: url(/img/landing/background.jpg); } } @media (min-width: 460px) { .hero::before { background-image: url(/img/background-1932466_1920-720x477.jpg); } } @media (min-width: 720px) { .hero::before { background-image: url(/img/background-1932466_1920-980x649.jpg); } } @media (min-width: 980px) { .hero::before { background-image: url(/img/background-1932466_1920-1240x821.jpg); } } @media (min-width: 1240px) { .hero::before { background-image: url(/img/background-1932466_1920-1500x993.jpg); } } @media (min-width: 1500px) { .hero::before { background-image: url(/img/background-1932466_1920-1760x1166.jpg); } } @media (min-width: 1760px) { .hero::before { background-image: url(/img/background-1932466_1920-1920x1271.jpg); } } 
  .hero-message { color: #fff; text-shadow: #343a40 2px 2px; min-width: 100%; min-height: 12em; position: relative; } 
  .hero-message::before { content: ""; display: block; position: absolute; margin-left: 0; min-width: 100%; min-height: 12em; z-index: -1; opacity: 0.4; background-color: #343a40; } 
  @media(min-width:1024px) { .hero-message { min-width: 50%; min-height: 60em; } .hero-message::before { margin-left: 25%; min-width: 50%; min-height: 12em; } } 
  .hero-title, .hero-sub-title { width: 100%; display: block; text-align: center; } .hero-title { margin: 3% 0; text-transform: uppercase; } 
  .hero::after { background-color:#34495e; content: ""; display: block; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: -1; opacity: 0.4; } 
  .flex-center { display: flex; flex-direction: column; justify-content: center; align-content: center; } 
  .hero::before { background-image: url(/img//landing/background.jpg); background-size: cover; content: ""; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -2; opacity: 0.4; } 

nav {
	margin: 27px auto 0;

	position: relative;
	width: 310px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 160px;
}
a:nth-child(5) {
	width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #3498db;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
	background-color: #9b59b6;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 470px;
	background-color: #e67e22;
}

body {
	font-size: 12px;
	font-family: sans-serif;
	background: #2c3e50;
}
h1 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 30px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

h6 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash',cursive;
    font-size: 16px;
}

span {
    color: #2BD6B4;
}