*{
	margin:0;
	padding:0;
	box-sizing:border-box
}
@import url("https://fonts.googleapis.com/css2?family=poppins&display=swap");
body{
	font-family: "poppins, sans-serif";
}
.wrapper{
	width:1200px;
	margin: 100px auto;
}
.title{
	text-align: center;
	margin-bottom: 60px;
}
.title h4{
	text-transform: capitalize;
	font-size: 36px;
	position: relative;
	display: inline-block;

}
.title h4 span{
	display:block;
	font-size: 18px;
	font-style: italic;
	margin-bottom: 1px;
}
.title h4:before{
	position: absolute;
	content: "";
	width: 100px;
	height: 2px;
	background-color: #ff7720;
	bottom:0;
	left: 50%;
	transform:translateX(-50%);
}